# Logs
logs
*.log
npm-debug.log*

# Node / Build outputs
node_modules
dist
dist-ssr
tsconfig.tsbuildinfo
*.local

# Editor / System files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
